// common.css 공통서식

$baseColor01:#333;
$baseColor02:#fff;
$mainColor:#1F1F1F;
$subColor01:#2F2F22;
$subColor02:#262F26;
$subColor03:#9CDCFE;
$subColor04:#DD7E56;
$subColor05:#A2FF78;
$titleColor:#EBC87E;
$jsColor01:#F1EEA3;
$jsColor02:#FFE500;
$jsColor03:#9CDCFE;
$jsColor04:#3471CD;
$jsColor05:#B768C1;

// 메인 서식
section:not(#intro){margin-left:152px;}

// 스와이퍼 서식
.swiper{width:100%; height:100%;}
// .swiper-slide {display: flex;}

// 섹션 서식
section{width:1768px !important;height:100vh;padding:80px;box-sizing:border-box;}
section > article > p:last-of-type{position:absolute;bottom:10%;}
section h2, section > article > p{
  color:#EBC87E;
  font-size:60px;
}
section > article:not(#profile > article, #design > article) > p:first-of-type{
  position:absolute;
  color:$jsColor03; left:130px;
  font-size:35px;
  padding:20px 0px 0px 20px !important;
}
.m_cursor{transform:translate(30px, 15px);animation:m_cursor 2s infinite;}
@keyframes m_cursor{
  0%{transform:translate(30px, 15px);}
  50%{transform:translate(30px, 25px);}
  100%{transform:translate(30px, 15px);}
}

#profile > article > p, #project_1 > article > p, #project_2 > article > p, #project_3 > article > p, #project_4 > article > p{clear:both;}
section > article > p:not(#profile > article > p){padding-top:100px;}

// 버튼 서식
.button{
  display:block;
  width:100px;
  margin:20px 0px;
  text-align:center;
  color:$baseColor02;
  border:1px solid $baseColor02;
  position:relative;
  z-index:1;
  -webkit-transition:all 0.4s;
  -moz-transition:all 0.4s;
  -ms-transition:all 0.4s;
  -o-transition:all 0.4s;
  transition:all 0.4s;
}
.button:after{
  content:"";
  width:0%;
  height:100%;
  position: absolute;
  top:0;left:0;
  -webkit-transition:all 0.4s;
  -moz-transition:all 0.4s;
  -ms-transition:all 0.4s;
  -o-transition:all 0.4s;
  transition:all 0.4s;
  background:$baseColor02;
}
.button:hover{color: #333;}
.button:hover:after{width:100%;z-index:-1;}

// 웹사이트 버튼
.web{position:absolute; bottom:0px;left:150px;}
.web02{position:absolute; bottom:0px;left:300px;}

// 목업 이미지
.pj_1_mockup, .pj_2_mockup, .pj_3_mockup, .pj_4_mockup{
  position:relative;
  float:left;
}
.pc_tool img, .t_tool img, .m_tool img{width:100%;}
.pc_img_1 img, .t_img_1 img, .m_img_1 img, .pc_img_2 img, .t_img_2 img, .m_img_2 img, .pc_img_3 img, .t_img_3 img, .m_img_3 img, .pc_img_4 img, .t_img_4 img, .m_img_4 img{
  position:absolute;
  top:0px; left:0px;
  width:100%;
}
.pc_img_1, .pc_img_2, .pc_img_3, .pc_img_4, .t_img_1, .t_img_2, .t_img_3, .t_img_4, .m_img_1, .m_img_2, .m_img_3, .m_img_4{
  overflow:hidden;
  position:absolute;
}


// pc 목업
.pc_tool{
  width:660px;
  position:absolute;top:60px;left:200px;
  z-index:2;
}
.p_02{
  left:100px !important;
}

// tablet 목업
.t_tool{
  width:330px;
  position:absolute;top:200px;left:0px;
  z-index:4;
}

// mobile 목업
.m_tool{
  width:250px;
  position:absolute;top:250px;left:720px;
  z-index:4;
}
.m_02{
  left:620px !important;
}

// 프로젝트 사이트 설명
.pj_info{
  float:right;
  color:$baseColor02;
  width:550px; height:400px;
  margin-top:9vh;
  padding:70px 70px 20px 0px;
  line-height:36px;
}
.pj_info > h3{
  text-transform:uppercase;
  font-size:32px;
}
.pj_info > p{font-size:18px; line-height:26px; padding:10px 0px;}
.pj_info > ul{display:flex;justify-content:space-between;}
.pj_info > ul > li{position:relative;}
.pj_info > ul li:first-child{text-transform:uppercase;}
.pj_info > ul li:last-child{width:360px;}

// 프로세스 모달 창 서식
.process_modal{
  display:none;
  background:rgba(0,0,0,.7);
  position:fixed;top:0px;left:0px;
  width:100%;height:100%;
  z-index:10000;
}
.process_modal > .process_modal_container{
  max-width:1200px;
  position:absolute;;
  left:50%;top:50px;
  transform:translateX(-50%);
  width:100%;height:90%;
  overflow:hidden;
}
.title{
  width:100%;
  position:relative;
  color:$baseColor02;
}
.title > p{font-size:1.5rem;line-height:300%;}
.title > a i.fas{
  color:$baseColor02;font-size:2rem;
  position:absolute;top:20px; right:1%;
}
.process_modal_container iframe{
  height:750px;width:100%;
  background:$baseColor02;
}